<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de tareas sin completar</h1>
    <ul>
        {% for task in tasks %}
            <form method="post" action="{% url 'complete_task' task.pk %}">
                {% csrf_token %}
                <input type="checkbox" name="complete" onchange="this.form.submit()"{% if task.completed %}checked{% endif %}>-<li>{{task.title}}</li>
                <a href="{% url 'update_task' task.pk %}">Editar</a>
                <a href="{% url 'delete_task' task.pk %}">Eliminar</a>
            </form>
        {% empty %}
            <li>No tienes tareas sin completar</li>
        {% endfor %}
    </ul>
</body>
</html>