<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><form action="{% url 'signout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Cerrar sesion</button>
                </form></li>
                <a href="{% url 'list_task' %}">Tareas</a>
            {% else %}
                <li><a href="{% url 'register' %}">Registrarse</a></li>
                <li><a href="{% url 'signin' %}">Iniciar sesion</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>